rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Games/{id} {
      allow read: if true;
    }

    match /Games/{id}/messages/{mid} {
      allow read: if true;
    }

    match /Games/{id}/tickets/{mid} {
      allow read: if true;
    }

    match /Games/{id}/assists/{mid} {
      allow read: if true;
    }

    match /Users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
