.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.slider ul {
    display: flex;
    padding: 0;
    animation: run 15s infinite linear;
}
.slider li {
    padding:0 10px;
    list-style: none;
    width: 250px;
}
.slider img {
    max-width: fit-content;
    height: 70px;
    width: 200px;
}
@keyframes run {
    0% {
      margin-left: 0%
    }
    99.9% {
       margin-left: -100%
     }
    100% {
      margin-left: 0%
    }
}

.card_shadow .problem_list {
  text-align: left;
}

.problem_list h4 {
  padding: 0;
  margin: 0;
}

.about_banner {
  margin-bottom: 2px;
  padding-bottom: 0;
}

.about_page h3 {
  text-align: left;
  margin-left: 12px;
}

.about_page .about_cta button {
  font-size: 1.5em;
  padding: .5em;
  font-weight: bold;
}

.gif_container img {
  width: 380px;
}
