.feed_list_wrapper h2 {
  margin: 0;
  padding: 0;
}

.feed_list_wrapper {
}

.report_beer_img {
  height: 200px;
  margin-bottom: -130px;
}

.list_center_row {
  flex: 1;
  font-size: 1.25em;
  padding-top: .15em;
  text-align: left;
}

.list_center_row a {
  padding: 4px;
  display: inline-block;
}

.home_page_request_item .store_anchor {
  width: 100%;
  overflow: hidden;
  display: block;
  text-decoration: none;
}

.home_page_request_item .store_address {
  font-size: 1em;
  margin-bottom: .25em;
  text-decoration: underline;
}

.home_page_request_item .store_name {
  font-weight: normal;
  margin: 0 0;
  height: 40px;
  line-height: 40px;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 6px;
}

.time_since_request {
  margin: 8px;
  display: inline-block;
}

.option_bar {
  display: flex;
  flex-direction: row;
}

.option_bar a {
  flex: 1;
  text-align: center;
  display: block;
}

.request_map_image_clip {
  display: block;
  height: 140px;
  overflow: hidden;
}

.request_map_image_clip img {
  height: 230px;
  position: relative;
  top: -35px;
}

.load_more_button {
  font-size: 1.5em;
  margin-bottom: .5em;
  display: none;
}

.feed_list_loaded .load_more_button {
  display: inline-block;
}

.list_center_row .report_feed_report_link {
  padding: 10px;
  display: inline-block;
}

.response_request .report_feed_report_link {
  color: red;
}

.feed_response_message {
  margin-top: 1em;
  text-align: center;
  font-size: 25px;
}

.beer_review_description {
  min-height: 200px;
  padding: 12px;
  font-size: 26px;
  text-align: justify;
  display: none;
}

a.games_menu_anchor, a.profile_menu_anchor {
  display: none;
}

.app_signed_in a.games_menu_anchor {
  display: block;
}

.app_signed_out a.profile_menu_anchor {
  display: block;
}
