.show_game_table .game_table_view {
  display: block;
}

.upper_row, .lower_row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.upper_row {}

.upper_left, .lower_left {}

.score_pos_1, .score_pos_2, .score_pos_3 {
  display: none;
}

.game_owner .card_deck_display {
  display: none;
}

.card_deck_select {
  display: none;
}

.game_owner .card_deck_select {
  display: inline-block;
}

.game_owner .scoring_system_display {
  display: none;
}

.scoring_system_select {
  display: none;
}

.game_owner .scoring_system_select {
  display: inline-block;
}

.match_card_wrapper {
  width: calc(46% - 4px);
  height: 100px;
  background: rgba(100, 100, 100);
  border-radius: 5%;
  margin: 1.75%;
  position: relative;
  float: left;
  border: solid 2px transparent;
}

.previously_shown {
  background: rgba(200, 200, 200);
}

.card_inner {
  display: none;
  height: inherit;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.matched_hidden {
  visibility: hidden;
}

.score_pos_0, .score_pos_1, .score_pos_2, .score_pos_3 {
  flex: 1;
  min-height: 50px;
}

.score_dock_row>div {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
}

.score_dock_row>span {
  font-size: 18px;
  flex: 1;
}

.score_dock_row {
  display: flex;
  flex-direction: row;
}

.zoom_out_beer_card {
  display: none;
  width: 80%;
  height: 80%;
  background: rgb(127, 127, 127);
  z-index: 10;
  position: absolute;
  border: solid 2px silver;
  border-radius: 5px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.show_face .card_inner {
  display: block;
}

.members_display_wrapper {
  padding-top: 15px;
  display: none;
}

.game_loaded .members_display_wrapper {
  display: block;
}

.game_loaded .game_loading_display {
  display: none;
}

.selection_missed {
  border: solid 2px red;
}

.selection_matched {
  border: solid 2px rgb(0, 255, 0);
}

.seats_full_display {
  font-size: 24px;
  display: inline-block;
  padding: 20px 10px;
}

.match_board_wrapper .match_quandrant {
  min-height: 100px;
  flex: 1;
  position: relative;
}

.match_board_wrapper {
  padding-bottom: 8px;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tracer_line_0, .tracer_line_1 {
  position: absolute;
  height: 10px;
  width: 100px;
  z-index: 1000;
  border-radius: 10px;
  background: rgba(127, 127, 127, .5);
  top: 10px;
  left: 20px;
  display: none;
  transform-origin: 0 0;
  pointer-events: none;
  animation-name: tracer_fades;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes tracer_fades {
  0% {
    background-color: rgba(255, 0, 0, .5);
  }

  16.67% {
    background-color: rgba(255, 255, 0, .5);
  }

  33.33% {
    background-color: rgba(0, 255, 0, .5);
  }

  50% {
    background-color: rgba(0, 255, 255, .5);
  }

  66.67% {
    background-color: rgba(0, 0, 255, .5);
  }

  83.33% {
    background-color: rgba(255, 0, 255, .5);
  }

  100% {
    background-color: rgba(255, 0, 0, .5);
  }
}

.player_dock {
  display: flex;
  flex-direction: row
}

.match_end_result .dock_container {
  border: none;
}

.members_header_toggle_button, .game_header_toggle_button {
  padding: 12px;
}

.members_header_toggle_button span {
  font-size: 30px;
  display: inline-block;
}

.members_list {
  height: 0;
  overflow: hidden;
  padding-left: 10px;
  transition: height .5s;
}

.members_expanded .members_list {
  height: 100px;
  overflow: auto;
}