
.local_beer_select_response {
  width: 80%;
  font-size: 22px;
}

.location_to_send_list {
  display: block;
  font-size: 22px;
  width: calc(100% - 16px);
}

.report_slug_display {
  text-align: left;
  font-size: 20px;
  margin: 0 10px;
  line-height: 30px;
}

.email_me_if_response_label {
  font-size: 24px;
  padding: 8px;
  display: block;
  line-height: 30px;
}

.email_me_if_response_label input {
  width: 22px;
  height: 22px;
  position: relative;
  top: 5px;
  left: -5px;
}

table.report_status_panel {
  font-size: 20px;
  margin: 8px;
}

table.report_status_panel .impact-font {
  font-size: 24px;
}

table.report_status_panel tr td:nth-child(1) {
  text-align: left;
  width: 90px;
}

table.report_status_panel tr td:nth-child(2) {
  text-align: left;
}

.fresh_report {
  display: none;
}

.user_editable_record .fresh_report {
  display: block;
}

.report_sent .fresh_report {
  display: none;
}

.store_map_holder {
  width: 100%;
  overflow: hidden;
  display: block;
}

.send_request {
  padding: 5px;
  font-size: 25px;
}

.map_image_clipper {
  position: relative;
  width: 380px;
  display: inline-block;
  height: 200px;
  overflow: hidden;
}

.map_image_clipper img {
  height: 220px;
}

.response_options {
  text-align: left;
  line-height: 2em;
  padding: 1em;
  display: none;
}

.response .response_options {
  display: block;
}

.response_options input {
  height: 15px;
  width: 15px;
}

.response_options label {
  display: block;
  font-size: 20px;
}

.response_submit_button {
  font-size: 26px;
  margin: 8px;
  padding: 4px;
}

.responded_card {
  display: none;
}

.response_received .responded_card {
  display: block;
}

.delete_report_btn {
  font-size: 25px;
  padding: 5px;
  display: none;
}

.user_editable_record .delete_report_btn {
  display: inline-block;
}

.report_sent.user_editable_record .delete_report_btn {
  display: none;
}

.report_sent.response .delete_report_btn {
  display: inline-block;
}

.store_name {
  margin: 0;
  padding: 0;
  height: 80px;
  line-height: 80px;
  margin-right: 8px;
}

.store_address {
  margin: 4px 0;
}

.location_send_image {
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  margin: 8px;
}

.store_display_panel {
  display: none;
}

.user_editable_record .store_display_panel {
  display: block;
}

.response_received .store_display_panel, .report_sent .store_display_panel {
  display: block;
}

.owner {
  display: none;
}

.user_editable_record .owner {
  display: block;
  white-space: nowrap;
}

.user_editable_record .suppressed {
  display: none;
}

.response_received .response_options {
  display: none;
}


.request_stock_spinner {
  display: none;
  height: 40px;
}

.signed_in_anonymous .fresh_report {
  display: none;
}
